@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <style>
        a {
            text-decoration: none;
        }

        table {
            border-radius: 20px;
        }
    </style>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                Header
            </div>
            <div class="card-title">
                <div class="row">
                    <div class="col-8">
                        <div class="nav nav-tabs">
                            <div class="nav-item bg-primary">
                                <div class="nav-link">

                                    @*<a href="@Url.Action("index","Home")" class="text-white">Trang chủ</a>*@
                                    <a asp-controller="Home" asp-action="Index" class="text-white">Trang chủ</a>
                                </div>
                            </div>
                            <div class="nav-item bg-primary">
                                <div class="nav-link">
                                    @*@Html.ActionLink("Trang chủ", "index", "Home", null, new { @class = "text-white" })*@
                                    <a asp-controller="Home" asp-action="Index" class="text-white">Trang chủ</a>
                                </div>
                            </div>
                            <div class="nav-item bg-primary">
                                <div class="nav-link">
                                    @*@Html.ActionLink("Trang chủ", "index", "Home", null, new { @class = "text-white" })*@
                                    <a asp-controller="Home" asp-action="Index" class="text-white">Trang chủ</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="nav nav-tabs float-right">
                            <div class="nav-item bg-primary">
                                <div class="nav-link">
                                    @*@Html.ActionLink("Trang chủ", "index", "Home", null, new { @class = "text-white" })*@
                                    <a asp-controller="Home" asp-action="Index" class="text-white">Trang chủ</a>
                                </div>

                            </div>
                            @{
                                var session = Context.Session.GetString("Khachhang");
                                if (session != null) {
                                    <div class="nav-item bg-success">
                                        <div class="nav-link">
                                            <a asp-controller="Khachhang" asp-action="DangXuat" class="text-white">Đăng xuất</a>
                                        </div>
                                    </div>
                                } else {
                                    <div class="nav-item bg-danger">
                                        <div class="nav-link">
                                            <a asp-controller="Khachhang" asp-action="DangNhap" class="text-white">Đăng nhập</a>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="nav-item bg-primary">
                                <div class="nav-link">
                                    @{
                                        if (session == null) {
                                            <a asp-controller="Khachhang" asp-action="DangKy" class="text-white">Đăng ký</a>
                                        } else {
                                            Khachhang kh = JsonConvert.DeserializeObject<Khachhang>(session);
                                            <a asp-controller="Khachhang" asp-action="Sua" asp-route-id="@kh.Makh" class="text-white">@kh.Tenkh</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <div class="list-group-item bg-info ">
                                @*<a href="@Url.Action("index","nhasanxuat")" class="text-white">Quản lý Nhà sản xuất</a>*@
                                <a asp-controller="nhasanxuat" asp-action="Index" class="text-white">Quản lý Nhà sản xuất</a>
                            </div>
                            <div class="list-group-item bg-info ">
                                @*<a href="@Url.Action("index","nhanvien")" class="text-white">Quản lý Nhân viên</a>*@
                                <a asp-controller="nhanvien" asp-action="Index" class="text-white">Quản lý Nhân viên</a>
                            </div>
                            <div class="list-group-item bg-info ">
                                @*<a href="@Url.Action("index","khachhang")" class="text-white">Quản lý Khách hàng</a>*@
                                <a asp-controller="khachhang" asp-action="Index" class="text-white">Quản lý Khách hàng</a>
                            </div>
                            <div class="list-group-item bg-info ">
                                @*<a href="@Url.Action("index","loaihanghoa")" class="text-white">Quản lý Loại hàng hóa</a>*@
                                <a asp-controller="loaihanghoa" asp-action="Index" class="text-white">Quản lý Loại hàng hóa</a>
                            </div>
                            <div class="list-group-item bg-info ">
                                @*<a href="@Url.Action("index","hanghoa")" class="text-white">Quản lý Hàng hóa</a>*@
                                <a asp-controller="hanghoa" asp-action="Index" class="text-white">Quản lý Hàng hóa</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 bg-light">
                        @RenderBody()
                    </div>
                </div>
                <div class="card-footer bg-secondary text-white">
                    Footer
                </div>
            </div>
        </div>
    </div>
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>

