@model TranVanQuocThang_DH52007101_D20_TH11.Models.Sach

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xoá thông tin sách</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        @{
            if (ViewBag.flagDelete == true) {
                <h2>Xóa thông tin sách</h2>
                <h3>Bạn muốn xóa sách này?</h3>
            } else {
                <h3>Bạn không thể xóa sách này!</h3>
            }
        }
        <form method="post">
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th><label asp-for="TenSach" class="form-label"></label></th>
                            <th><label asp-for="NgayXb" class="form-label"></label></th>
                            <th><label asp-for="Gia" class="form-label"></label></th>
                            <th><label asp-for="MaLoai" class="form-label"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="hidden" name="maloai" value="@Model.MaSach" />
                                <label asp-for="TenSach">@Model.TenSach</label>
                            </td>
                            <td id="formattedDate">@Model.NgayXb</td>
                            <td><label asp-for="Gia">@Model.Gia</label></td>
                            <td><label asp-for="MaLoai">@Model.MaLoai</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @{
                if (ViewBag.flagDelete == true) {
                    <div class="form-group">
                        <input type="submit" value="Xóa" class="btn btn-primary" /><br /><br />
                    </div>
                }
            }

            <div>
                <a asp-action="Index">Quay lại</a>
            </div>
        </form>

        <script>
            // Lấy giá trị ngày từ server
            var rawDate = "@Model.NgayXb";

            // Chuyển đổi ngày thành định dạng "dd/MM/yyyy"
            var formattedDate = new Date(rawDate).toLocaleDateString('en-GB');

            // Hiển thị ngày đã định dạng trong thẻ có id là "formattedDate"
            document.getElementById("formattedDate").innerText = formattedDate;
        </script>
    </div>
</body>
</html>
